# Application
NODE_ENV=development
PORT=3000
API_PREFIX=api

# Database
DATABASE_URL=postgresql://postgres:passwordpostgres@localhost:5432/database_name

# Authentication
JWT_SECRET=super-secret-key
JWT_COOKIE_NAME=access_token

# Security
BCRYPT_SALT_ROUNDS=10

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_ORDERS_GROUP=orders-consumer-group
KAFKA_INVENTORY_GROUP=inventory-consumer-group
KAFKAJS_NO_PARTITIONER_WARNING=1
